body {
    background-color: black;
}

div#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
}

#dice img {
    width: 200px; 
    height: 200px;
}
